<div class="sup">
  <div class="sup__container">
    <div class="text-center">
      <div class="sup__descr">Support</div>
      <div class="sup__title">How can we help you?</div>
      <div class="sup__text">Choose a category below to email the support team so we can get back to you as quickly as possible.</div>
    </div>

    <!--<div class="sup__list">
      <div class="sup__list__item">
        <div class="sup__list__item__img"><i></i></div>
        <div class="sup__list__item__title">Connect with MetaMask</div>
        <div class="sup__list__item__descr">Instructions for integrating the service with MetaMask.</div>
        <a class="sup__list__item__btn"></a>
      </div>
      <div class="sup__list__item">
        <div class="sup__list__item__img"><i></i></div>
        <div class="sup__list__item__title">Tech Support</div>
        <div class="sup__list__item__descr">Issues with setting up a source or destination.</div>
        <a class="sup__list__item__btn"></a>
      </div>
      <div class="sup__list__item">
        <div class="sup__list__item__img"><i></i></div>
        <div class="sup__list__item__title">Contact Sales</div>
        <div class="sup__list__item__descr">Ask about our Business tier products, pricing, or request a demo.</div>
        <a class="sup__list__item__btn"></a>
      </div>
    </div>-->

    <div class="sup__contact">
      <div class="sup__contact_left">
        <div class="sup__contact__cont">
          <div class="sup__contact__title">Our contacts</div>

          <ul class="sup__contact__list">
            <li>
              <div class="sup__contact__list__title">Address:</div>
              <div class="sup__contact__list__descr">6224 Richmond Avenue Houston, TX 77057</div>
            </li>
            <li>
              <div class="sup__contact__list__title">Phone:</div>
              <div class="sup__contact__list__descr"><span>Office & Support Combined.</span>+1 858 - 345 - 6428</div>
            </li>
            <li>
              <div class="sup__contact__list__title">E-mail:</div>
              <div class="sup__contact__list__descr"><span>Office & Support.</span><a href="mailto:diamondswapdbz@gmail.com">Diamondswapdbz@gmail.com</a></div>
            </li>
            <li>
              <div class="sup__contact__list__title">Social networks:</div>
              <div class="sup__contact__list__descr">
                <div class="d-flex justify-content-center justify-content-md-start">
                  <a *ngFor="let icon of socialIcons" target="_blank" [href]="icon.href" [ngClass]="icon.name" class="social-icon"></a>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
      <div class="sup__contact_right">
        <img src="assets/img/support-map.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
