@mixin arrow($direction: 'right', $color: 'primary') {
  transform: unset;

  width: 16px;
  height: 16px;

  display: flex;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @if $direction == 'left' {
    transform: rotate(180deg);
  } @else if $direction == 'down' {
    transform: rotate(270deg);
  } @else if $direction == 'up' {
    transform: rotate(90deg);
  } @else {
    transform: rotate(0);
  }

  @if $color == 'primary' {
    background-image: url('/assets/img/icons/arrow-right-primary.svg');
  } @else if $color == 'disabled' {
    background-image: url('/assets/img/icons/arrow-right-disabled.svg');
  } @else {
    background-image: url('/assets/img/icons/arrow-right-white.svg');
  }

}
