<section class="app-profile">

  <header class="profile-header">

    <div (click)="onToggleQrImage()" *ngIf="qrImageVisible" class="profile-header__greyout"></div>

    <div class="qr" *ngIf="(qr$ | async) as qrImg">
      <figure [ngClass]="{'qr--visible': qrImageVisible}" class="qr__wrap">
        <ng-container *ngIf="qrImageVisible">
          <img [src]="qrImg" class="qr__img">
          <p class="qr__text">
            <span>Scan QR code</span>
            <span class="d-none d-xl-inline">&nbsp;in your Mobile app</span>
          </p>
        </ng-container>
        <div (click)="onToggleQrImage()" [ngClass]="{'qr__button-wrap--acitve': qrImageVisible}" class="qr__button-wrap">
          <a [ngClass]="{'active': qrImageVisible}" class="qr__button"></a>
        </div>
      </figure>
    </div>

    <div class="d-flex flex-column align-items-center" *ngIf="user$ | async as user">
      <figure class="profile-header__logo">
        <svg width="100%" height="100%" [data-jdenticon-value]="user.wallet_address"></svg>
      </figure>
      <div class="d-flex">
        <div class="profile-header__account">
          <app-copy-to-clipboard
            [walletAddress]="user.wallet_address"
          ></app-copy-to-clipboard>
        </div>
      </div>
    </div>

    <div class="profile-header__controls">
      <ng-container>
        <button
          *ngFor="let tab of (tabs | keyvalue:preserveOrder)"
          [routerLink]="tab.value.url"
          [ngClass]="{'header-button--active': (currentTab$ | async) === tab.value.id}"
          class="header-button"
        >{{ tab.value.uiName }}</button>
      </ng-container>
    </div>

  </header>

  <div class="profile-content">

    <div class="profile-search">

      <div class="profile-search__bar">
        <!-- <div class="profile-search__input-wrap">
          <input type="text" class="profile-search__input" placeholder="Search your items, collections">
        </div> -->
        <i class="profile-search__icon"></i>
        <p class="profile-search__res">
          <ng-container [ngSwitch]="currentTab$ | async">
            <span *ngSwitchCase="tabs.tickets.id" class="profile-search__res-num">{{ tickets?.results?.length }}</span>
            <span *ngSwitchCase="tabs.collected.id" class="profile-search__res-num">{{ collections?.results?.length }}</span>
            <span *ngSwitchCase="tabs.sale.id" class="profile-search__res-num">{{ saleItems?.results?.length }}</span>
          </ng-container>
          <span>results</span>
        </p>
      </div>

      <div *ngIf="isRecommendVisible && (currentTab$ | async) === tabs.tickets.id" class="recommend">
        <div class="d-flex align-items-center">
          <i class="recommend__icon"></i>
        </div>
        <div class="d-flex flex-column">
          <header class="recommend__header">RECOMMENDED</header>
          <p class="recommend__text">
            <span>Install the mobile application on your phone to access your tickets. After that, open the mobile application and use the QR code to enter the system.</span>
            <a (click)="onToggleQrImage()" class="recommend__link">Open QR code</a>
          </p>
        </div>
        <i (click)="isRecommendVisible = false" class="recommend__close"></i>
      </div>

    </div>

    <ng-container [ngSwitch]="(currentTab$ | async)">
      <div *ngSwitchCase="tabs.tickets.id" class="profile-content__items">
        <app-profile-card
          [card]="card"
          *ngFor="let card of tickets?.results"
          [routerLink]="['/profile', tabs.tickets.id, card.id]"
          class="profile-content__card"
        ></app-profile-card>

        <div class="load-more">
          <button *ngIf="((tickets?.count || 0) > (tickets?.results?.length || 0)) && !loading"
                  (click)="loadTickets()"
                  class="load-more__button">Load more</button>
        </div>
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
      </div>

      <div *ngSwitchCase="tabs.collected.id" class="profile-content__items">
        <app-profile-card [card]="card" *ngFor="let card of collections?.results" class="profile-content__card"></app-profile-card>

        <div class="load-more">
          <button *ngIf="((collections?.count || 0) > (collections?.results?.length || 0)) && !loading"
                  (click)="loadCollections()"
                  class="load-more__button">Load more</button>
        </div>
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
      </div>

      <div *ngSwitchCase="tabs.sale.id" class="profile-content__items">
        <app-profile-card
          *ngFor="let card of saleItems.results"
          [card]="card"
          [routerLink]="['/profile', tabs.sale.id, card.id]"
          class="profile-content__card"
        ></app-profile-card>

        <div class="load-more" >
          <button *ngIf="((saleItems?.count || 0) > (saleItems?.results?.length || 0)) && !loading"
                  (click)="loadSaleItems()"
                  class="load-more__button">Load more</button>
        </div>
        <ng-container *ngTemplateOutlet="loadingTemplate"></ng-container>
      </div>
    </ng-container>

  </div>

</section>

<ng-template #loadingTemplate>
  <div *ngIf="loading" class="spinner-container">
    <app-spinner></app-spinner>
  </div>
</ng-template>
