.vip-label {
  min-width: 50px;
  min-height: 35px;
  font-size: 18px;
  line-height: 28px;
  padding: 4px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(180deg, #FFE259 0%, #FFA751 100%);
}