$primary: #3C50E0;
$primary-hover: #86B6FF;
$primary-disabled: #D9E8FF;
$primary-active: #7A89F5;

$secondary-yellow: #FDB400;
$secondary-red: #FC4D70;
$secondary-green: #24D69A;
$secondary-purple: #C44DFC;

$complementary-1: #FFF0CC;
$complementary-2: #F2994A;
$complementary-3: #FEDBE2;
$complementary-4: #FEDBE2;

$text-title: #000;
$text-general: #646A7A;
$text-input-title: #333333;
$text-no-active: #BDBDBD;

$grey-1: #04223F;
$grey-2: #FAFBFD;
$grey-3: #E0E0E0;
$grey-4: #F2F2F2;
$grey-5: #EDF2F9;
$grey-6: #F2F2E6;
$grey-7: #F8F9FA;
$grey-8: #E5E5E5;
$grey-9: #B1D0FF;
$grey-10: #F9FBFF;

$box-shadow-1: 0px 0px 2px rgba(4, 34, 63, 0.2);
